<!DOCTYPE html>
{% extends "base.html" %} {% block content %}
<!-- Your error message logic and HTML here. -->

<form method="post">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" />
  <label for="username">Password</label>
  <input id="password" type="text" name="password" />
  <input type="submit" value="Login" />
</form>

<div>
  {% if error %}
  <p class="errorMsg">The username or password is not correct. Try again!</p>
  {% endif %}
</div>
{% endblock content %}
